/* containers */

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.index {
  background-image: url("../../assets/bgindex.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#carouselEmpresas {
  width: 100%;
  height: 8vh;
  background: linear-gradient(
    270deg,
    rgba(216, 37, 40, 0) 0%,
    rgba(216, 37, 40, 0.5) 38.45%,
    rgba(216, 37, 40, 0.6) 49.48%,
    rgba(216, 37, 40, 0.5) 62.18%,
    rgba(216, 37, 40, 0) 100%
  );
}

.datacontainerindex {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 82vh;
  width: 80%;
  margin: auto;
}
.datacontainer {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 80%;
}

.reverse {
  flex-direction: row-reverse !important;
}

.datacontainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.industrias {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

.inline {
  flex-direction: row !important;
}

.wrapper {
  height: 100vh;
  overflow: auto;
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

.align {
    width: 70% !important;
}

/* imagens e cores */

.robo {
  height: 60vh;
}


.blue {
  color: var(--blue);
}
.white {
  color: #fff;
}

.image {
  width: 40%;
}

/* textos */

.desc {
  font-family: var(--bodyfont);
  font-weight: 500;
  font-size: xx-large;
  width: 100%;
}

.textindex {
  font-family: var(--bodyfont);
  font-weight: 500;
  font-size: xx-large;
  width: 70%;
}

.text {
  font-family: var(--bodyfont);
  font-weight: 500;
  font-size: x-large;
  width: 60%;
}

.text1 {
  font-family: var(--bodyfont);
  font-weight: 500;
  font-size: x-large;
  width: 100%;
}

.xsize {
  width: 15% !important;
}


.titleindustrias {
  color: var(--blue);
  font-family: var(--titlefont);
  font-weight: 700;
  font-size: xx-large;
}

.textindustrias {
  font-family: var(--bodyfont);
  font-weight: 500;
  font-size: medium;
  width: 50%;
}

.textbutton {
  width: 100% !important;
  align-items: end !important;
}


.textbutton-reverse{
  width: 100% !important;
  align-items: start !important;
}

.flash {
    color: var(--blue);
    font-size: 10vw;

}

.button {
  background-color: var(--blue);
  border: none;
  width: 20vw;
  height: 6vh;
  color: #fff;
  cursor: pointer;
  border-radius: 5vw;
  font-size: x-large;
  font-family: var(--bodyfont);
  font-weight: 600;
  margin: 5vh 0;
}

.title {
  color: var(--blue);
  font-family: var(--titlefont);
  font-weight: 700;
  font-size: xx-large;
  position: absolute;
  top: 15vh;
}

.subtitle {
  top: 30vh !important;
}

.descido {
  margin-top: 15vh !important;
}

.svg {
  position: absolute;
  bottom: 0;

  z-index: -1;
}

.svgright {
    right: 0 !important;
}

.reversesvg {
  transform: rotate(180deg) scaleX(-1);
}



/* setas */

@keyframes pulse {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.arrow {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: calc(50% - 2.5vw);
  animation: pulse 1.5s infinite linear;
  font-size: 5vw;
  width: fit-content;
}

.down {
  bottom: 0;
}

.up {
  top: 0;
}
