#header {
    width: 100%;
    height: 10vh;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

#logoHeader {
    height: 80%;
    margin: 0 .5%;
}