#header {
  width: 100%;
  height: 10vh;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 9999999 !important;
  transition: background-color 0.3s ease;
}

#logoHeader {
  height: 90%;
  margin: 0 0.5%;
  display: block;
}

.header-scroll {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px;
}

.li-blue {
  color: var(--blue) !important;
}

li {
  cursor: pointer;
}

/*Estilizando as listas */
.menu ul {
  list-style: none;
  position: relative;
}

.menu ul ul {
  position: absolute;
  top: 3vh;
  transform: translate(-25%, 0);
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 2vh;
  width: 10vw;
  padding-block: 2vh;
  border-radius: 0px 0px 5px 5px;
}

.menu ul li:hover ul {
  visibility: visible;
  transition: opacity 0.3s linear;
  opacity: 1;
}

.menu ul ul li {
  font-size: medium;
  color: var(--blue);
}

.menu ul ul li:not(:last-child)::after {
  content: " ";
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--blue);
  position: absolute;
  left: 0;
  margin-top: 1vh;
}

/*Criando o label */
.label {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

#bt_menu {
  display: none;
}

.menuresponsivo ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 100px;
}

@media only screen and (max-width: 800px) {
  .sidebaropen {
    position: relative;
  }
  .label {
    display: block;
    z-index: 999 !important;
  }

  .sidebarclosed ul,
  .sidebarclosed ul ul,
  .sidebarclosed li {
    display: none;
  }

  .sidebaropen ul,
  .sidebaropen li {
    display: block;
  }

  .sidebarclosed ul li ul {
    display: none;
  }

  .sidebaropen > ul {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 10vh;
    gap: 1rem;
  }

  .sidebaropen ul ul {
    position: relative !important;
    top: 0;
    list-style: circle left !important;
  }

  .sidebaropen ul li {
    font-size: 18pt;
  }

  .sidebaropen ul li ul li {
    font-size: 10pt;
    margin-block: 0.4rem;
  }

  .sidebaropen ul li ul {
    margin-block: 1rem;
    gap: 2rem;
    padding-block: 2vh;
    transition: background-color 0.3s ease-in;
  }
  .block {
    display: block !important;
  }

  .none {
    display: none !important;
  }
}
