.carousel {
  width: 90%;
  margin: auto;
  margin-top: 30vh;
}

.carousel:hover {
  cursor: grab;
}

.divimageproduct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleimg {
  font-family: var(--titlefont);
  color: #fff;
  margin: 1vh 0;
}

.divimageproduct img {
  width: 22vw;
  height: 40vh;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .divimageproduct img {
    width: 30vw;
    height: 30vw;
  }
}
