/*Containers*/

.HeaderBanner {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.HeaderBanner .infoBanner {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.HeaderBanner .infoBanner p {
  width: 30%;
}

.QuemSomosBody {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.QuemSomosBody .conteudoBody {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-direction: column;
}

.ExcelenciaBody {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10vh;
  width: 100%;
  height: 100vh;
}

.ExcelenciaBody .conteudoExcelencia {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ExcelenciaBody .conteudoExcelencia img {
  width: 40%;
}

.ValoresBody {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10vh;
  width: 100%;
  height: 100vh;
}

.ValoresBody .conteudoValores {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ValoresBody .conteudoValores img {
  width: 40%;
}

.fundadoresBody {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10vh;
  width: 100%;
  height: 100vh;
}

.fundadoresBody .conteudoFundador {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.fundadoresBody .conteudoFundador .Fundador1,
.Fundador2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.HistoriaBody {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/*Textos*/

.text-blue {
  color: var(--blue);
}

.text-white {
  color: #fff;
}

.textoBanner {
  font-family: var(--bodyfont);
  font-size: 1.5rem;
  font-weight: bold;
}

.texto {
  font-family: var(--bodyfont);
  font-size: 1rem;
  font-weight: 600;
  width: 35%;
}

.texto-titulo {
  font-family: var(--titlefont);
  font-size: 2.5rem;
}

.texto-conteudo {
  font-family: var(--bodyfont);
  font-size: 1.2rem;
  text-align: center;
}

/*Cor de Fundo*/

.fundo-blue {
  background-color: var(--blue);
}

.fundo-white {
  background-color: #fff;
}

.fundo-red {
  background-color: var(--red);
}

@media only screen and (max-width: 800px) {
  .infoBanner,
  .conteudoExcelencia,
  .conteudoValores {
    justify-content: space-evenly !important;
    flex-direction: column !important;
    height: 80%;
  }
  .infoBanner img {
    width: 60%;
  }
  .infoBanner p {
    width: 90% !important;
    text-align: center;
  }
  .QuemSomosBody {
    position: relative;
  }
  .texto-titulo {
    position: absolute;
    top: 5vh;
  }
  .texto-conteudo {
    font-size: 1.3rem !important;
    width: 120%;
  }
  .texto {
    width: 90%;
  }
  .conteudoExcelencia img,
  .conteudoValores img {
    width: 70% !important;
  }
  .conteudoFundador {
    flex-direction: column !important;
    width: 100%;
  }
  .Fundador1,
  .Fundador2 {
    position: relative;
    height: 40vh;
  }
  .Fundador1 img,
  .Fundador2 img {
    width: 50%;
    padding-top: 10vh;
  }
}
